table{
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    margin: auto;
}
th{
    padding: 20px;
    margin: 20px;
    font-weight: bolder;
    background-color: burlywood;
    border-radius: 15px;

}
td{
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    
}
tr:nth-child(even){
    background-color: cadetblue;
}
tr:nth-child(odd){
    background-color: rgb(245, 143, 245);
}
