.back{
    background:linear-gradient(140deg,rgb(178, 203, 226),rgb(240, 215, 238),rgb(116, 116, 111)) ;
   
    /* background-position:center; */
     background-size: cover; 
    /* object-fit: cover;   */ 
    /* width: 100%; */
    height:100%;
    /* background-attachment: fixed; */
    
}
.main h2 {
    color:rgb(14, 13, 13);
    font-size: 60px;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    font-family: 'Lobster', cursive;
    
}
marquee{
    margin-top: 60px;

}

nav{
    /* padding: 20px; */
    background-color: black;
    opacity: 0.6;
   
    display: flex;
    border-radius: 8px;
    width: 100%;
    justify-content: space-evenly;
    /* position: sticky;
    top: 0px; */
}
a{
    padding: 20px;
    margin: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.topnav:hover{
    color:rgb(8, 8, 8);
    background-color: white;
    border-radius: 5px;
}
/* -----------------dropdowns------------------------------- */
.dropdown a{
    display:block;

}
.droplist a{
    border: 2px solid;
    padding: 2px;
    color: white;
    font-size: small;
}
.dropdown{
    display: inline-block;
}
.droplist{
   position: absolute;
padding: 5px;
width: 100px;
display: none;


}
.droplist:hover a{
    background-color: darkseagreen;
    color: black\;
}
.dropdown:hover .droplist{
    display:block;
    text-align: center;
    background: rgb(23, 24, 24);
    
    margin-top: 10px;

}

/* -------------------------------------------------------------------------- */
button{
    height: 30px;
    width: 120px;
    background-color: black;
    box-shadow: 0 0 10px rgb(167, 163, 163);
    color: white;
    margin-top: 25px;
    float: right;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-right: 350px;
    color: rgb(48, 47, 47);
    text-decoration: grey underline;
    margin-top: 80px;
    
}


.main h1{
    
    font-size: 60px;
    margin: 200px auto;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:underline;
    /* text-align: justify;     */
}
.main aside{
    background:linear-gradient(145deg,rgb(240, 206, 212),rgb(207, 238, 250),grey);
    
    width: 400px;
    height: 800px;
    padding: 20px;
    text-align: center;
   margin-top: 50px;
   border-radius: 10px;
  
   padding: 20px;
   

}
.para{
    width: 1000px;
    
    margin-top: -600px;
    margin-left: 300px;
    text-align: justify;
    text-indent: 50px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
aside a{
    color: rgb(46, 44, 44);
    padding: 20px;
    /* margin: 20px; */
    text-decoration: none;
    display: block;
    box-shadow: 0 0 5px grey;
    /* width: 80%; */
}
 aside a:hover{
    color: rgb(150, 124, 85);
    background-color: rgb(194, 194, 219);
    border-radius: 20px;
   
}
#user{
    display: flex;
}
.img{
    width: 150px;
    height: 100px;
}
.main{
    display: inline-flex;
    width: 100%;
}
.info{
    background-color: rgb(234, 240, 240);
    width: 200px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    height: 420px;
    margin-top:30px;
    margin: 60px;
    box-shadow: 0 0 20px;

}
p{
    text-align: justify;
    font-size: 20px;
}
.box{
    display: inline-flex;
    margin-left: 250px;
    /* margin-top: -400px; */
}
button.app{
  /* margin: auto; */
  width: 300px;
  height: 80px;
  font-size: 20px;
  border-radius: 20px;
  /* justify-content: center; */
  float: none;
  margin-top: 150px;
  margin-left: 250px;

}
button.app:hover{
    background-color:grey;
    color: rgb(12, 11, 11);
}
.enroll{
    margin: auto;    
}
.enroll img{
    float: right;
    margin-top: -200px;
    margin-right: 50px;
}
.enroll:hover{
   background-color: none !important;
    color: white;
}
.end{
    text-align: center;
    margin-right: 300px;
 
}
footer{
    width: 100%;
    height: 350px;
    background:linear-gradient(45deg,black,rgb(73, 71, 71),grey);
}
h3{
    color: white;
    text-align: center;
    font-size: 40px;
    text-decoration: white underline;
}
.foot{
    display: inline-flex;
}
.icon {
    padding: 20px;
    float: right;
    margin-top: -20px;
}
.ic{
    float: right;
}